{
    "extends": [
        "eslint:recommended", 
        "plugin:jest/recommended"
    ],
    "plugins": [
        "@typescript-eslint",
        "jest"
    ],
    "env": {
        "es6": true,
        "node": true,
        "browser": true,
        "jest/globals": true
    },
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
		"project": "tsconfig.json"
    },
    "rules": {
        "@typescript-eslint/indent": [
			"warn",
			4,
			{
				"SwitchCase": 1
			}
		],
        "@typescript-eslint/no-unused-vars": ["warn"],

        "no-unused-vars": "off",
        "no-multiple-empty-lines": [
			"warn",
			{
				"max": 1,
				"maxEOF": 1,
				"maxBOF": 0
			}
		],
        "no-multi-spaces": "warn",
        "semi": ["warn", "always", { "omitLastInOneLineBlock": true }],
        "keyword-spacing": [ "warn", {
            "before": true,
            "after": true
        }],
        "block-spacing": ["warn", "always"],
        "space-infix-ops": ["warn", {
            "int32Hint": true
        }],
        "space-unary-ops": ["warn", {
            "words": true,
            "nonwords": true,
            "overrides": {
                "--": false,
                "++": false,
                "!": false,
                "-": false
            }
        }],
        "no-whitespace-before-property": ["warn"],
        "object-curly-spacing": [ "warn", "always", {
            "arraysInObjects": true,
            "objectsInObjects": true
        }],
        "space-before-blocks": [ "warn", "always" ],
        "comma-spacing": ["warn", {
            "before": false,
            "after": true
        }],
        "comma-dangle": ["warn", {
            "objects": "never",
            "arrays": "never",
            "functions": "never"
        }],
        "padding-line-between-statements": [
            "warn",
            { "blankLine": "always", "prev": ["import", "block-like"], "next": ["export", "function"] },
            { "blankLine": "always", "prev": "var", "next": "return" }
        ],
        "padded-blocks": ["warn", "never"],
        "object-curly-newline":[ "warn", { "minProperties": 2, "multiline": true } ],
        "array-element-newline" : [ "warn", { "minItems": 3 } ],
        "array-bracket-newline": [ "warn", { "minItems": 3 } ],
        "array-bracket-spacing": [ "warn", "never"],
        "multiline-ternary": ["warn", "never"],
        "quotes": [ "warn", "double" ],
        "object-property-newline": ["warn", { "allowAllPropertiesOnSameLine": true }]
	}
}
